
  .timeline {
      list-style: none;
      padding: 0;
    }
  
    .timeline-card {
      position: relative;
      padding-left: 80px;
      margin-bottom: 20px;
    }
  
    .timeline-card:before {
      content: '';
      position: absolute;
      left: 40px;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: white;
      border: 2px solid #00BFFF;
    }
  
    .card {
      background: #f9f9f9;
      border-left: 4px solid #00BFFF;
      border-radius: 3px;
      padding: 15px;
      position: relative;
    }
  
    .timeline-card2 {
      position: relative;
      padding-left: 80px;
      margin-bottom: 20px;
    }
  
    .timeline-card2:before {
      content: '';
      position: absolute;
      left: 40px;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: white;
      border: 2px solid #097325;
    }
  
    .card2 {
      background: #f9f9f9;
      border-left: 4px solid #097325;
      border-radius: 3px;
      padding: 15px;
      position: relative;
    }
  
    .card h4 {
      margin-top: 0;
    }
    
    .text-muted {
      color: #696767;
    }
    
    .page-break {
      page-break-after: always;
    }
    
    .education-section {
      margin-top: 2rem;
    }
  

  